.add-dates-panel{
    flex-direction: column;
    width: 400px;
}

.flex-column-centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}