table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: black;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #9c8477;
	}
}

.disable-button{
    font-size: 1em;
    background-color: #7e0808;
    color:white;
    padding: 10px;
    border:none;
    border-radius: 10px;
}

.disable-button:hover{
    transition-duration: 300ms;
    background-color: #d17c7c;
    color:rgb(0, 0, 0);
    cursor: pointer;
}

.enable-button{
    font-size: 1em;
    background-color: #074729;
    color:white;
    padding: 10px;
    border:none;
    border-radius: 10px;
}

.enable-button:hover{
    transition-duration: 300ms;
    background-color: #369470;
    color:rgb(0, 0, 0);
    cursor: pointer;
}